/* Keep all your existing CSS here */
* { box-sizing: border-box; }
body { font-family: sans-serif; margin: 0; padding: 0; overflow-x: hidden; background-color: rgb(245, 200, 245); width: 100%; scroll-behavior: smooth;}
a { text-decoration: none; }

header { width: 100%; height: 4rem; border-bottom: 1px solid #ccc; display: flex; justify-content: space-between; align-items: center; position: sticky; top: 0; background: rgb(206, 72, 206); z-index: 2000; padding: 0 2%;}
.logo { height: max-content; width: max-content; color: white; font-size: clamp(1rem, 2vw, 2rem); }
.logo:hover { text-decoration: underline; cursor: pointer;}

.search-container { display: flex; align-items: center; background: white; border-radius: 20px; padding: 2px 10px; margin: 0 10px; flex-grow: 0.5; position: relative; }
.search-container input { border: none; outline: none; padding: 5px; width: 100%; border-radius: 20px; font-size: 0.9rem;}
.search-btn { background: none; border: none; cursor: pointer; font-size: 1.2rem;animation: move 1s linear infinite;}

#search-suggestions { position: absolute; top: 110%; left: 0; width: 100%; background: white; border-radius: 8px; box-shadow: 0 4px 15px rgba(0,0,0,0.2); display: none; z-index: 3000; max-height: 250px; overflow-y: auto;}
.suggestion-item { padding: 10px 15px; cursor: pointer; border-bottom: 1px solid #eee; display: flex; align-items: center; gap: 10px; font-size: 0.9rem;}
.suggestion-item:last-child { border-bottom: none; }
.suggestion-item:hover { background-color: #f0f0f0; }
.suggestion-item img { width: 30px; height: 30px; object-fit: cover; border-radius: 4px; }

.nav-links { display: flex; align-items: center; gap: 5px; }
.nav-links h2 { font-size: clamp(0.8rem, 1.5vw, 1.5rem); margin: 0; cursor: pointer; color: white; border: 1px solid white; border-radius: 5px; padding: 3px 6px; white-space: nowrap;}
.nav-links h2:hover { background-color: #ffeb3b; color: black;}

.order-trigger { display: flex; align-items: center; justify-content: center; background-color: rgb(132, 247, 132); padding: 3px 6px; border: 2px solid #333; width: clamp(5rem, 8vw, 8rem); border-radius: 6px; cursor: pointer; font-weight: bold; font-size: clamp(0.8rem, 1.5vw, 1.5rem) }
.order-trigger:hover { background-color: #25D366; }
#cart-count { background-color: #ffeb3b; padding: 2px 6px; border-radius: 50%; }

#collection-view { padding: 15px; width: 100%; scroll-margin-top: 80px;}
#collection-view h1.main-title { margin: 0px 0px 5px 0px; padding: 0px; width: 100%; display: flex; justify-content: center; align-items: center;}
.heading { margin: 0px 0px 5px 0px; padding: 0px; width: 100%; display: flex; justify-content: center; align-items: center;}

.collection-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr)); gap: 20px; width: 100%;}
.collection-card { background: rgb(252, 241, 252); border-radius: 12px; padding: 15px; cursor: pointer; transition: 0.3s; box-shadow: 0 4px 10px rgba(0,0,0,0.05); text-align: center;}
.collection-card:hover { transform: translateY(-10px); box-shadow: 0 4px 10px rgba(0,0,0,0.5); }
.collection-card h3 { margin: 5px 0 0 0; font-size: 1.5rem; }

.image-preview-box { display: grid; width: 100%; max-width: 160px; grid-template-columns: 1fr 1fr; margin: 0 auto 10px auto; background: none; overflow: hidden; border-radius: 25px;}
.image-preview-card { border: 0.5px solid #fff; aspect-ratio: 1/1; border-radius: 24px;}
.image-preview-card img { width: 100%; height: 100%; display: block; object-fit: cover; border: 0.5px solid purple; border-radius: 24px;}

#product-slider { position: fixed; top: 4rem; padding-bottom: 10rem; left: 0; width: 100%; height: calc(100svh - 4rem); background-color: rgb(252, 241, 252); z-index: 1000; transform: translateX(-100%); transition: 0.4s ease-in-out; box-shadow: 5px 0 25px rgba(0,0,0,0.2); overflow-y: auto; border: 2px solid black;}
#product-slider.active { transform: translateX(0); height: 100svh;}
.slider-header { position: sticky; top: 0; background: rgb(197, 94, 197); padding: 15px 5%; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #ddd; z-index: 10; }
#slider-title{margin: 0; color: white;}
.back-btn { border: 1px solid white; background: none; color: white; padding: 8px 15px; border-radius: 5px; cursor: pointer; }

#product-grid { display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; padding: 15px; align-items: center;}
.empty-msg { grid-column: 1/-1; padding: 50px; text-align: center; }
.card { background: white; border: 1px solid #eee; padding: 10px; border-radius: 12px; text-align: center; box-shadow: 0 4px 12px rgba(0,0,0,0.1); width: 100%; margin: auto; height: max-content;}
.card h4 { margin: 5px 0; font-size: 1.2rem; }
.card .price-tag { margin: 5px 0; font-size: 1.3rem; font-weight: bold; }
.card:hover { box-shadow: -5px 0 25px rgba(0,0,0,0.5); transform: translateY(-10px); }
.img-container { width: 100%; height: clamp(8rem, 17vw, 17rem); border-radius: 8px; overflow: hidden; margin-bottom: 10px; background: #f0f0f0; }
.iimg { width: 100%; height: 100%; object-fit: cover; display: block; }

.variant-selector { display: flex; justify-content: center; flex-direction: column; flex-wrap: wrap; gap: 5px; margin: 10px 0; height: clamp(6rem, 8vw, 8rem); margin: 0px; padding: 0px;}
.variant-btn { display: flex; justify-content: space-between; gap: 10px; padding: 4px 10px; font-size: 0.7rem; border: 1px solid #ccc; background: white; border-radius: 20px; cursor: pointer; min-width: 100px;}
.variant-btn.active { background: green; color: white; border-color: #333; }
.variant-btn span { font-size: 1rem; }
.unit-text { opacity: 0.8; font-weight: normal; }

.controls { display: flex; justify-content: center; align-items: center; gap: 10px; min-height: 40px; }
.controls button { padding: 5px 10px; cursor: pointer; border: 1px solid #333; background: white; border-radius: 4px; font-weight: bold; font-size: 1.5rem; }
.controls button:hover { background: green; color: white; }
.qty-btn { background: #ffeb3b !important; border: none !important; }
.qty-controls span { margin: 0 8px; font-weight: bold; }

#orderSidebar { position: fixed; bottom: 0rem; right: 0; width: 400px; max-width: 100%; height: 100svh; background: white; box-shadow: -5px 0 25px rgba(0,0,0,0.15); transition: 0.4s ease-in-out; transform: translateX(100%); z-index: 1000; padding: 20px; padding-top: 4rem; overflow-y: auto; font-size: 1.5rem;}
#orderSidebar.active { transform: translateX(0); }
.order-item-detail { display: flex; align-items: center; gap: 15px; border-bottom: 1px solid #eee; padding: 12px 0;}
.order-item-detail img { width: 45px; height: 45px; object-fit: cover; border-radius: 4px; }
.sidebar-controls { display: flex; align-items: center; gap: 8px; margin-top: 5px; }
.side-qty-btn { background: #ffeb3b; border: 1px solid #333; border-radius: 4px; padding: 2px 8px; cursor: pointer; font-weight: bold; }

.address-section { margin-top: 15px; background: #f4f4f4; padding: 12px; border-radius: 8px; }
.address-section input, .address-section textarea { width: 100%; margin-top: 8px; padding: 10px; border: 1px solid #ccc; border-radius: 4px; font-size: 1.3rem;}
.loc-btn { background: #007bff; font-size: 1.3rem; color: white; border: none; padding: 10px; width: 100%; border-radius: 4px; margin-top: 10px; cursor: pointer; }
#location-display { font-size: 11px; color: #666; display: block; margin-top: 5px; }

.checkout-btn { width: 100%; padding: 15px; background: #25D366; color:white; border: none; border-radius: 6px; cursor: pointer; font-size: 1.5rem; font-weight: bold; margin-top: 15px; display: flex; align-items: center; justify-content: center;}
.lock-icon { margin-right: 5px; }
.close-btn { background: rgb(216, 213, 213); border: 1px solid black; font-size: clamp(1.5rem, 2vw, 2rem); cursor: pointer; float: right; border-radius: 5px; padding: 1rem;}

.cart-popup { border: 1px solid purple; background-color: rgb(132, 247, 132); position: fixed; bottom: 15px; left: 50%; transform: translateX(-50%); width: 90%; max-width: 320px; padding: 10px; border-radius: 12px; box-shadow: 0 4px 20px rgba(0,0,0,0.2); display: flex; flex-direction: column; align-items: center; z-index: 1500; cursor: pointer; }
.popup-images { display: flex; gap: 4px; margin-bottom: 6px; }
.cart-popup img { width: 30px; height: 30px; object-fit: cover; border-radius: 4px; }
#popup-count{margin:0; font-size: 1.1rem;}

.hidden { display: none !important; }
h6 { font-size: 1.3rem; margin: 0px; padding: 0px; text-align: center;}

.about { height: auto; width: 100%; border-radius: 25px; scroll-margin-top: 80px;}
.abox { display: grid; grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); align-items: center; }
.atext { justify-self: center; display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 0px clamp(1rem, 5vw, 5rem); width: 96%; background-color: rgb(236, 174, 236); border-radius: 50px;}
.atext h1 { padding-bottom: 0px; margin-bottom: 0px; }
.atext p { font-size: 1.2rem; hyphens: auto; text-align: justify; line-height: 1.5rem; }
.contact-btn { background-color: rgb(206, 72, 206); height: 3rem; width: clamp(8rem, 10vw, 10rem); border-radius: 25px; color: white; font-size: clamp(1rem, 2vw, 2rem); animation: move 1s linear infinite; cursor: pointer; border: none;}
.contact-btn:hover { background-color: purple;}

@keyframes move { 0%{ transform: translateY(-5px); } 50%{ transform: translateY(0px); } 100%{ transform: translateY(-5px); } }

.aimg { justify-self: center; width: max-content; height: 70svh; }
.aimg img { height: 100%; width: clamp(22rem, 40vw, 40rem); padding: 20px 0px; border-radius: 60px; }

.cbox { margin-top: 2rem; width: 100%; overflow: hidden; border: 1px solid purple; border-radius: 25px; padding: 20px 0;}
.cwrap { flex-wrap:nowrap; width: 100%; display: flex; justify-content: space-evenly; align-items: center; flex-direction: row; gap: 20px;}
.cimg { height: clamp(5rem, 20vw, 18rem); width: clamp(5rem, 22vw, 20rem); border: 1px solid purple; border-radius: 10px; box-shadow: 0 6px 15px rgba(17, 1, 9, 0.5); object-fit: cover;}
.ctext { text-align: center; border: 1px solid purple; padding: 0px 10px; min-width: 50px; font-size: clamp(0.7rem, 1.5vw, 1.5rem); display: flex; justify-content: center; align-items: center; flex-direction: column; box-shadow: 0 6px 15px rgba(17, 1, 9, 0.5); border-radius: 25px; background-color: white; height: clamp(10rem, 20vw, 20rem); line-height: clamp(0rem, 0.1vw, 0.1rem);}
.acc img { height: 25px; width: 25px; border-radius: 5px; animation: ro 5s ease infinite;}
.acc { width: 100%; display: flex; justify-content: space-evenly; align-items: center; margin-top: 10px;}
@keyframes ro{
    0% { transform: scale(1) rotate(0deg); }
    50% { transform: scale(2) rotate(180deg); }
    100% { transform: scale(1) rotate(360deg); }
}

@media (max-width: 768px) {
    .collection-grid { grid-template-columns: 1fr 1fr; }
    #product-grid { grid-template-columns: 1fr 1fr; }
    .atext { order: 1;}
    .logo { font-size: clamp(1rem, 3vw, 1.2rem); line-height: 1.1; }
    .search-container { flex-grow: 0.7; margin: 0 5px; }
}
